<body class="w-full h-full antialiased bg-gray-50 flex ">
    <div class="flex flex-col md:flex-row w-full h-full justify-evenly items-center ">
        <div class="flex  w-full h-full justify-center items-center bg-gray-50 shadow-2xl
                    md:w-[40%] md:h-[70%] ">
            <div class="flex justify-center items-center  w-full h-full  md:w-full md:h-full md:my-[2%] ">
                <div>
                    <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Reset Password</div>
                    <form nz-form [formGroup]="resetPasswordForm" class="login-form" (ngSubmit)="onResetPassWord()">
                        <nz-form-item>
                        <nz-form-control nzErrorTip="Please input your Email correctly!">
                            <nz-input-group nzPrefixIcon="user">
                                <input  type="Email" nz-input formControlName="Email" placeholder="Email" />
                            </nz-input-group>
                        </nz-form-control>
                        </nz-form-item>
                        <button nz-button [nzType]="'primary'"> Send token to Email</button>
                        <div *ngIf="error" class="text-red-500">{{ error }}</div>
                    </form>
              </div>
            </div>
        </div>
        <ng-container *ngIf="isResetWithTokenToggle" >
            <app-reset-with-token [Email]="resetPassword.Email" class="h-full w-full md:w-[40%] md:h-[70%] "></app-reset-with-token>
        </ng-container>
    </div>
</body>